.navbar {
  background-color: rgb(2, 3, 129);
}

.nav-link {
  color: white !important;
}

#mid-container {
  margin-top: 30px;
  height: 800px;
}

.content-row {
  margin: 20px;
}

.content-row2 {
  padding-top: 350px;
}

.col {
  margin: 20px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.mid-a {
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.card-body {
  z-index: 3;
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 400px;
  height: 350px;

  filter: opacity(65%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 1s;
}

.card-body:hover {
  transform: scale(1.2);
  /* width: 400px;
  height: 350px; */
}

span {
  z-index: 3;
  position: absolute;
  top: 155px;
  left: 160px;
  color: black;
  font-size: 30px;
  font-weight: 200;
  font-family: 'Times New Roman', Times, serif;
}

.footer {
  background-color: rgb(6, 6, 141);
  color: white;
  padding: 20px;
}

.footer-row {
  margin-left: 60px;
}

.copyright {
  border: thin solid black;
}

#recent-sales-div,
#team-div {
  margin-top: 100px;
}

.team-card {
  width: 250px;
}

#aboutus-img {
  width: 1340;
}

.aboutus-p {
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 80px;
}
